.container{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1px 10px;
    align-items: center;
  }

  .summary-questions{
    height: 130px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    align-items: flex-end;
    gap: 1px 1px;
  }

  .p-rating {
    color: #ff0707;
}
  .img-container{
    width: auto;
    height:100%;
  }
