<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <div class="card text-center">
        <div class="card-header fs-1 font1">
          {{ question?.answers?.length }}
        </div>
        <div class="card-body">
          <h5 class="card-text font1">Total Respuestas</h5>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
    <div class="col-5">
      <div class="card text-center">
        <div class="card-header fs-1 font1">
          {{ question?.question }}
        </div>
        <div class="card-body" style="margin-right: 40px; margin-left: 40px">
          <h5 class="card-text font1">Tipo: {{ question?.type }}</h5>
          <p class="card-text font1">Categoria: {{ question?.category }}</p>
        </div>
        <div class="card-footer text-muted">
          <app-answer [item]="question"></app-answer>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div
        class="search-results"
        infinite-scroll
        [scrollWindow]="false"
        (scrolled)="onScrollDown($event)"
        (scrolledUp)="onScrollUp($event)"
      >
        <div
          class="accordion"
          id="accordionExample"
          *ngFor="let answer of answers2"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h5 class="text-center">Respuesta:</h5>
                <!--<p-rating
                  [cancel]="false"
                  [(ngModel)]="questions.position"
                  [disabled]="true"
                  *ngIf="!authService.userData"
                ></p-rating>
                <p-rating
                  [cancel]="false"
                  [(ngModel)]="questions.position"
                  [disabled]="false"
                  *ngIf="authService.userData"
                ></p-rating>-->
                <!-- Respuesta -->
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <p class="m-2">{{ answer.answer }}</p>
              <div class="accordion-body">
                <strong>
                  <p class="text-center">
                    Fecha de respuesta: {{ answer.answeredAt }}
                  </p>
                  <div class="acordion-button" *ngIf="answer.userId === uid">
                    <div style="text-align: center">
                      <app-edit-answer [oldAnswer]="answer"></app-edit-answer>
                    </div>
                  </div>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center m-5">
  <button
    type="button"
    (click)="preguntasHome()"
    pButton
    pRipple
    label="Preguntas"
    class="p-button-danger mb-2"
  >
    <i class="pi pi-user-edit" style="margin-top: 5px"></i>
  </button>
</div>
