<p-toast></p-toast>
<ng-template #content let-modal>
  <div class="modal-header"></div>
  <div class="modal-body">
    <div class="container">
      <div class="card text-center">
        <div class="card-header font2">
          <b>Realiza tu pregunta</b>
        </div>
        <div class="card-body p-4">
          <input
            id="type"
            class="form-control m-2 font2"
            type="text"
            placeholder="Tipo de pregunta"
            name="type"
            [(ngModel)]="question.type"
            required
          />
          <input
            id="category"
            class="form-control m-2 font2"
            type="text"
            placeholder="Categorio de la Pregunta"
            name="category"
            [(ngModel)]="question.category"
            required
          />

          <div class="form-floating font2" style="margin-top: 20px">
            <textarea
              class="form-control m-2 font2"
              placeholder="Leave a comment here"
              id="question"
              style="height: 150px"
              [(ngModel)]="question.question"
            ></textarea>
            <label for="floatingTextarea">Pregunta</label>

            <br />
          </div>
          <button
            pButton
            (click)="saveQuestion(question)"
            pRipple
            type="button"
            label="Realizar Pregunta"
            class="p-button-outlined p-button-info"
          ></button>

          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      pButton
      pRipple
      type="button"
      label="Cerrar"
      class="p-button-outlined p-button-secondary"
      (click)="modal.close('Close click')"
    ></button>
  </div>
</ng-template>

<button
  class="btn btn-outline-primary mb-2 me-2"
  (click)="openVerticallyCentered(content)"
>
  Realizar Pregunta
</button>
