  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a href="/preguntas">
          <img src="https://ik.imagekit.io/lvh0tltbeph/SofkaU/logo-sofkau_1Fn3uH-1S.png?ik-sdk-version=javascript-1.4.3&updatedAt=1645658493330" alt="" width="200" height="75">
        </a>
        
        <div >
        <span class="m-5 fw-bold border border-primary p-2 rounded"  *ngIf="!disabled">Bienvenido {{emailCurrentUser}}</span>
      <button type="button" label="Iniciar Sesion" class="btn btn-primary" (click)="login()" *ngIf="disabled">Inicia sesión</button>

      <button type="button" label="Iniciar Sesion" class="btn btn-danger" (click)="SignOut()" *ngIf="!disabled">Cerrar sesión</button>
    </div>

     
    </div>
  </nav>